@{
    ViewData["Title"] = "Index";
}

<h1>TP 04 -  Index</h1>
<a href='@Url.Action("SelectPaquete")'>Crear un nuevo paquete</a>
@foreach (string i in ViewBag.dicPaquetes.Keys)
{   
    <h1>Paquetes nuevo</h1>
    <p>Destino @i</p>
    <img src="~/img/@ViewBag.dicPaquetes[i].Hotel" height="auto" width="250">
    <img src="~/img/@ViewBag.dicPaquetes[i].Aereo" height="auto" width="250">
    <img src="~/img/@ViewBag.dicPaquetes[i].Excursion" height="auto" width="250">
    <a href='@Url.Action("BorrarPaquete", new {destino=i})'> Borrar Paquete</a>
}
<style>
body{
        background:linear-gradient(rgb(91, 145, 104),rgb(20, 172, 164));
        background-position: center;
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment:fixed;
    }
</style>
