<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP04</title>
</head>
<body>
    <form method="post" action="@Url.Action("GuardarPaquete")" >
     
        <h1>Destinos:</h1>       
        <div class="Palabra-Destino">
            @foreach (string destino in ViewBag.ListaDestinos)
            {
                @destino
            }
        </div>
        <p>Seleccione una opcion </p><input type="number" name= "Destino"max="10" min="1" step="1">
        <h1>Hoteles</h1>
        <div class="image-container">
            @foreach (string hoteles in ViewBag.ListaHoteles)
            {
                <img src="~/img/@hoteles" height="auto" width="250">
            }
        </div>
        <p>Seleccione una opcion </p><input type="number" name = "Hotel" max="10" min="1" step="1">
        <h1>Aerolinas</h1>
        <div class="image-container">
            @foreach (string aereos in ViewBag.ListaAereos)
            {                 
                <img src = "~/img/@aereos" height="auto" width="250">
            }       
        </div>
        <p>Seleccione una opcion </p><input type="number" name = "Aereo" max="10" min="1" step="1">
        <h1>Excursiones</h1>
        <div class="image-container">
            @foreach (string excursion in ViewBag.ListaExcursiones)
            {
                <img src="~/img/@excursion" height="auto" width="250">
            }
        </div>
        <p>Seleccione una opcion </p><input type="number" name = "Excursion" max="10" min="1" step="1">
        <p><input type="Submit" value="Crear Paquete"></p>   
    </form>
</body> 
<style>
    .image-container {
        display: flex;
    }

    .image-container img {
        margin-right: 10px;
    }
    body{
        background:linear-gradient(rgb(91, 145, 104),rgb(20, 172, 164));
        background-position: center;
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment:fixed;
    }
    .Palabra-Destino{
        margin: 2%;
        padding-right:1%;
        border: 1px;
    }
</style>

</html>